<div class="container col-md-8 pt-4">
<div class="row">
  <div class="col-sm-6 col-lg-4 pt-2">
    <div class="card" style="max-width: 18rem;">
      <div class="card-header bg-behance content-center">
        <i class="fab fa-behance icon my-4 display-5" style="color: black;">Emergency Pass</i>
      </div>
      <div class="card-body row text-center">
        <div class="col">
          <div><a class="text-uppercase text-muted small" mat-button color = "accent" [routerLink] = "['viewpass']">View</a></div>
        </div>
        <div class="vr"></div>
        <div class="col">
          <div><a class="text-uppercase text-muted small" mat-button [routerLink] = "['addpass']" >Apply</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 pt-2">
    <div class="card" style="max-width: 18rem;">
      <div class="card-header bg-dribbble content-center">
        <i class="fab fa-dribbble icon my-4 display-5" style="color: black;">Doctor Appointment</i>
      </div>
      <div class="card-body row text-center">
        <div class="col">
          <div><a class="text-uppercase text-muted small" mat-button [routerLink] = "['viewappointments']" >View</a></div>
        </div>
        <div class="vr"></div>
        <div class="col">
          <div><a class="text-uppercase text-muted small" mat-button [routerLink] = "['fixappointment']" >Apply</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 pt-2">
    <div class="card" style="max-width: 18rem;">
      <div class="card-header bg-facebook content-center">
        <i class="fab fa-facebook icon my-4 display-5"  style="color: black;">Covid-19 testing Labs</i>
      </div>
      <div class="card-body row text-center">
        <div class="col">
          <div><a class="text-uppercase text-muted small" mat-button [routerLink]="['healthcare']" >View</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 pt-4">
    <div class="card" style="max-width: 18rem;">
      <div class="card-header bg-facebook content-center">
        <i class="fab fa-facebook icon my-4 display-5"  style="color: black;">Donate For CM Funds</i>
      </div>
      <div class="card-body row text-center">
        <div class="col">
          <div><a class="text-uppercase text-muted small" mat-button href="https://telangana.gov.in/cm-relief-fund" >Donate</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 pt-4">
    <div class="card" style="max-width: 18rem;">
      <div class="card-header bg-facebook content-center">
        <i class="fab fa-facebook icon my-4 display-5"  style="color: black;">Online Vocational Training Courses</i>
      </div>
      <div class="card-body row text-center">
        <div class="col">
          <div><a class="text-uppercase text-muted small" mat-button [routerLink] = "['onlinecourses']" >View Courses</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 pt-4">
    <div class="card" style="max-width: 18rem;">
      <div class="card-header bg-facebook content-center">
        <i class="fab fa-facebook icon my-4 display-5"  style="color: black;">Free Food Services</i>
      </div>
      <div class="card-body row text-center">
        <div class="col">
          <div><a class="text-uppercase text-muted small" mat-button [routerLink] = "['freefood']" >View</a></div>
        </div>
      </div>
    </div>
  </div>
 
  
</div>
</div>

<div class="container col-md-8 pt-4 d-none d-sm-block d-lg-none">
<div class="row float-center">
  <div class="col-sm-6 col-lg-4 pt-2">
    <div class="card" style="max-width: 18rem;">
      <div class="card-header bg-behance content-center">
        <i class="fab fa-behance icon my-4 display-5" style="color: black;">Emergency Pass</i>
      </div>
      <div class="card-body row text-center">
        <div class="col">
          <div><a class="text-uppercase text-muted small" mat-button color = "accent" [routerLink] = "['viewpass']">View</a></div>
        </div>
        <div class="vr"></div>
        <div class="col">
          <div><a class="text-uppercase text-muted small" mat-button [routerLink] = "['addpass']" >Apply</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 pt-2">
    <div class="card" style="max-width: 18rem;">
      <div class="card-header bg-dribbble content-center">
        <i class="fab fa-dribbble icon my-4 display-5" style="color: black;">Doctor Appointment</i>
      </div>
      <div class="card-body row text-center">
        <div class="col">
          <div><a class="text-uppercase text-muted small" mat-button [routerLink] = "['viewappointments']" >View</a></div>
        </div>
        <div class="vr"></div>
        <div class="col">
          <div><a class="text-uppercase text-muted small" mat-button [routerLink] = "['fixappointment']" >Apply</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 pt-2">
    <div class="card" style="max-width: 18rem;">
      <div class="card-header bg-facebook content-center">
        <i class="fab fa-facebook icon my-4 display-5"  style="color: black;">Covid-19 testing Labs</i>
      </div>
      <div class="card-body row text-center">
        <div class="col">
          <div><a class="text-uppercase text-muted small" mat-button [routerLink]="['healthcare']" >View</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 pt-4">
    <div class="card" style="max-width: 18rem;">
      <div class="card-header bg-facebook content-center">
        <i class="fab fa-facebook icon my-4 display-5"  style="color: black;">Donate For CM Funds</i>
      </div>
      <div class="card-body row text-center">
        <div class="col">
          <div><a class="text-uppercase text-muted small" mat-button href="https://telangana.gov.in/cm-relief-fund" >Donate</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 pt-4">
    <div class="card" style="max-width: 18rem;">
      <div class="card-header bg-facebook content-center">
        <i class="fab fa-facebook icon my-4 display-5"  style="color: black;">Online Vocational Training Courses</i>
      </div>
      <div class="card-body row text-center">
        <div class="col">
          <div><a class="text-uppercase text-muted small" mat-button [routerLink] = "['onlinecourses']" >View Courses</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 pt-4">
    <div class="card" style="max-width: 18rem;">
      <div class="card-header bg-facebook content-center">
        <i class="fab fa-facebook icon my-4 display-5"  style="color: black;">Free Food Services</i>
      </div>
      <div class="card-body row text-center">
        <div class="col">
          <div><a class="text-uppercase text-muted small" mat-button [routerLink] = "['freefood']" >View</a></div>
        </div>
      </div>
    </div>
  </div>
 
  
</div>
</div>

<div class="pt-4">
<div class="pt-4">
<div class="jumbotron container">
  <h1 class="display-4">More Services are yet to come</h1>
  <hr class="my-4">
    <h1 class="display-4">Stay Safe ... Stay Home..!!</h1>
  </div>
</div>
</div>



