<div class="container pt-4">

<div class="card-columns col-12">
<div class="card border-success mb-3 " style="max-width: 18rem;">
  <div class="card-header">Harvard University</div>
    <div class="card-body text-success">
        <h5 class="card-title">Free Online Courses</h5>
        <a class="text-uppercase text-muted small" mat-button href="https://online-learning.harvard.edu/catalog/free" >View Courses</a>
    </div>
</div>

<div class="card border-success mb-3 " style="max-width: 18rem;">
  <div class="card-header">EDX</div>
    <div class="card-body text-success">
        <h5 class="card-title">Learn with EDX</h5>
        <a class="text-uppercase text-muted small" mat-button href="https://www.edx.org/course/academic-writing-made-easy-2" >View Courses</a>
    </div>
</div>

<div class="card border-success mb-3 " style="max-width: 18rem;">
  <div class="card-header">Google</div>
    <div class="card-body text-success">
        <h5 class="card-title">Free online courses from Google</h5>
        <a class="text-uppercase text-muted small" mat-button href="https://learndigital.withgoogle.com/digitalunlocked/courses" >View Courses</a>
    </div>
</div>
</div>



<div class="card-columns col-12">
<div class="card border-success mb-3 " style="max-width: 18rem;">
  <div class="card-header">FutureLearn</div>
    <div class="card-body text-success">
        <h5 class="card-title">Free Online Courses</h5>
        <a class="text-uppercase text-muted small" mat-button href="https://www.futurelearn.com/courses">View Courses</a>
    </div>
</div>

<div class="card border-success mb-3 " style="max-width: 18rem;">
  <div class="card-header">Coursera</div>
    <div class="card-body text-success">
        <h5 class="card-title">Free Courses from Coursera</h5>
        <a class="text-uppercase text-muted small" mat-button href="https://www.corsera.org/collections/free-online-courses-finish-in-a-day">View Courses</a>
    </div>
</div>

<div class="card border-success mb-3 " style="max-width: 18rem;">
  <div class="card-header">India Education</div>
    <div class="card-body text-success">
        <h5 class="card-title">Free Online Courses</h5>
        <a class="text-uppercase text-muted small" mat-button href="https://www.indiaeducation.net/online-education/11-free-online-courses-that-you-can-take-up-from-home.htm">View Courses</a>
    </div>
</div>
</div>


<div class="card-columns col-12">
<div class="card border-success mb-3 " style="max-width: 18rem;">
  <div class="card-header">Online Studies</div>
    <div class="card-body text-success">
        <h5 class="card-title">Free Online Courses</h5>
        <a class="text-uppercase text-muted small" mat-button href="https://www.onlinestudies.com/Courses">View Courses</a>
    </div>
</div>

<div class="card border-success mb-3 " style="max-width: 18rem;">
  <div class="card-header">Edureka</div>
    <div class="card-body text-success">
        <h5 class="card-title">Courses From Edureka</h5>
        <a class="text-uppercase text-muted small" mat-button href="https://www.edureka.co">View Courses</a>    </div>
</div>

<div class="card border-success mb-3 " style="max-width: 18rem;">
  <div class="card-header">Code Camp</div>
    <div class="card-body text-success">
        <h5 class="card-title">Free programming courses</h5>
        <a class="text-uppercase text-muted small" mat-button href="https://www.freecodecamp.org">View Courses</a>
    </div>
</div>
</div>
</div>