<div class="container">
<div class="container">
    <div class="row col-md-12 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Date and Time of Appointment</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let appointment of appointments" >
            <td>{{appointment.id}}</td>
            <td>{{appointment.name}}</td>
            <td>{{appointment.age}}</td>
            <td>{{appointment.Address}}</td>
            <td>{{appointment.appointmentdatetime}}</td>
            <!-- <td class="text-center"><button class="btn btn-danger btn-xs" (click)="delteUser(user.id)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td> -->
          </tr>
    </tbody>
    </table>
    </div>
</div>
