<div class="container pt-4">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="d-none d xl-block">State</th>
      <th scope="col">City</th>
      <th scope="col">Service Provider</th>
      <th scope="col" class="d-none d xl-block">Name of the organisation</th>
      <th scope="col">Contact</th>
    </tr>
  </thead>
  <tbody *ngFor="let detail of details">
    <tr *ngFor="let report of detail.resources">
        <td *ngIf = "report.category == 'Delivery [Vegetables, Fruits, Groceries, Medicines, etc.]'" class="d-none d xl-block" >{{report.state}}</td>
        <td *ngIf = "report.category == 'Delivery [Vegetables, Fruits, Groceries, Medicines, etc.]'" >{{report.city}}</td>
        <td *ngIf = "report.category == 'Delivery [Vegetables, Fruits, Groceries, Medicines, etc.]'" >{{report.descriptionandorserviceprovided}}</td>
        <td *ngIf = "report.category == 'Delivery [Vegetables, Fruits, Groceries, Medicines, etc.]'" class="d-none d xl-block" >{{report.nameoftheorganisation}}</td>
        <td *ngIf = "report.category == 'Delivery [Vegetables, Fruits, Groceries, Medicines, etc.]'"  >{{report.phonenumber}}</td>
    </tr>
    
  </tbody>
</table>

</div>