<body  class="d-none d-lg-block">
  <div style="padding-left:20px" align = "center" >
    <p></p>
    <video controls  width="820" height="520">
      <source src="./assets/Videos/prevention video.mp4" type="video/mp4">
    </video>
  </div>
</body>


  <div style="padding-left:20px" align = "center" class="d-xs-block d-lg-none pt-4" >
    <video control  width="250" height="250">
      <source src="./assets/Videos/prevention video.mp4" type="video/mp4">
    </video>
  </div>


<div class="container pd-5 pr-5 pl-5">
   <div class="table-responsive pt-4">
      <table class="table table-striped custab border border-danger pl-10 pt-10">
         <thead class="thead-dark">
            <tr>
               <th>State</th>
               <th>Confirmed</th>
               <th>Deaths</th>
               <th>Recovered</th>
               <th>Delta Confirmed</th>
               <th>Delta Deaths</th>
               <th>Last Updated</th>
            </tr>
         </thead>
         <tbody *ngFor="let report of cases " >
            <tr *ngFor="let rep of report.statewise">
               <td *ngIf ="rep.state == 'Total'" >{{rep.state}}</td>
               <td *ngIf ="rep.state == 'Total'">{{rep.confirmed}}</td>
               <td *ngIf ="rep.state == 'Total'">{{rep.deaths}}</td>
               <td *ngIf ="rep.state == 'Total'">{{rep.recovered}}</td>
               <td *ngIf ="rep.state == 'Total'">{{rep.deltaconfirmed}}</td>
               <td *ngIf ="rep.state == 'Total'">{{rep.deltadeaths}}</td>
               <td *ngIf ="rep.state == 'Total'">{{rep.lastupdatedtime}}</td>
            </tr>
            <!-- <td class="text-center"><button class="btn btn-danger btn-xs" (click)="delteUser(user.id)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td> -->
         </tbody>
      </table>

      <div class="table-responsive pt-4">
      <table class="table table-striped custab border border-danger pl-10 pt-10">
         <thead class="thead-dark">
            <tr>
               <th>State</th>
               <th>Confirmed</th>
               <th>Deaths</th>
               <th>Recovered</th>
               <th>Delta Confirmed</th>
               <th>Delta Deaths</th>
               <th>Last Updated</th>
            </tr>
         </thead>
         <tbody *ngFor="let report of cases " >
            <tr *ngFor="let rep of report.statewise">
               <td *ngIf ="rep.state == 'Telangana'">{{rep.state}}</td>
               <td *ngIf ="rep.state == 'Telangana'">{{rep.confirmed}}</td>
               <td *ngIf ="rep.state == 'Telangana'">{{rep.deaths}}</td>
               <td *ngIf ="rep.state == 'Telangana'">{{rep.recovered}}</td>
               <td *ngIf ="rep.state == 'Telangana'">{{rep.deltaconfirmed}}</td>
               <td *ngIf ="rep.state == 'Telangana'">{{rep.deltadeaths}}</td>
               <td *ngIf ="rep.state == 'Telangana'">{{rep.lastupdatedtime}}</td>
            </tr>
            <!-- <td class="text-center"><button class="btn btn-danger btn-xs" (click)="delteUser(user.id)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td> -->
         </tbody>
      </table>
   </div>
   </div>
</div>
















